/* LESS  definitions */
@themeFirstColor: #343a40;
@socialIconColor: #0f1720;
@timelineColor:#212529;
@sidebarColor:#212529;

/*------------------- SIDEBAR ---------------------------------------*/
/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    /* font-size: 1.1em; */
    font-weight: 300;
    line-height: 1.7em;
    color: black;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
    text-align:left;
}

#sidebar {
    width: 250px;
    position: fixed;
    padding:10px;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: @sidebarColor;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;

}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 15px;
    padding-top:0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
   
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        // width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}


/*-------------------- SITE ----------------------------------------*/

    /* for footer*/
    .footer {
        position:absolute;
        bottom:0;
        width:100%;
        text-align:center;
        margin-bottom: 10px;
     }
     
     
     /*  for navbar top*/
     
     #navbar_top{
       border-bottom: 1px solid white;
     }
     
     
     /* for resume*/
     .subheading {
         text-transform: uppercase;
         font-weight: 500;
         font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
         font-size: 1.5rem;
     }
     
     .resume-item .resume-date {
         min-width: 18rem;
     }
     
     /* body {
         font-family: Muli,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
         color: #868e96;
     } */
     
 
     .TimelineHeader{
         font-weight: bold;
     }
     
     .wrapper {
     display: flex;
     width: 100%;
     text-align:left;
 }
 
 #sidebar {
     width: 250px;
     position: fixed;
     top: 0;
     left: 0;
     height: 100vh;
     z-index: 999;
     background: @themeFirstColor;
     color: #fff;
     transition: all 0.3s;
 }


     
 /* ICONS */
 .fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
    color:cornflowerblue;
  }
  
  .fa-linkedin {
    background: @socialIconColor;
    color: white;
  }
  
  .fa-medium {
    background: @socialIconColor;
    color: white;
  }

  .fa-envelope {
    background: @socialIconColor;
    color: white;
  }
  
  .fa-github {
    background:@socialIconColor;
    color: white;
  }
  
  .fa-gitlab {
    background: @socialIconColor;
    color: white;
  }

/*---------------------- TIMELINE ----------------------------------*/
ul.timeline {
    list-style-type: none;
    position: relative;
  }
  ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 9px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }
  ul.timeline > li {
    margin: 10px 0;
    padding-left: 0px;
  }
  ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid @timelineColor;
    left: 0px;
    width: 20px;
    height: 20px;
    z-index: 400;
  }
  .timeline-unsorted {
    list-style-type: square;
  }
  